<modal div="modal" #modalUser>
  <modal-header class="modal-title">
      <h1>{{'CREATE_USER' | translate}}</h1>
  </modal-header>
  <modal-content>
    <div class="row">
      <div class="col-3 input-field">
        <label for="name">{{'NAME' | translate}}: </label>
        <input id="name" class="input" type="text" [(ngModel)]="user.personData.name"/>
      </div>
      <div class="col-3 input-field">
        <label for="name">{{'SURNAME' | translate}}: </label>
        <input id="name" class="input" type="text" [(ngModel)]="user.personData.surname"/>
      </div>
      <div class="col-3 input-field">
        <label for="age">{{'EMAIL' | translate}}: </label>
        <input id="name" class="input" type="text" [(ngModel)]="user.email"/>
      </div>
      <div class="col-3 input-field">
        <label for="age">{{'BIRTH_DATE' | translate}}: </label>
        <ng2-datepicker [options]="calendarOptions" [(ngModel)]="date"></ng2-datepicker>
      </div>
    </div>
    <div class="row">
      <div class="col-4 input-field">
        <label for="name">{{'COMPANY' | translate}}: </label>
        <select [(ngModel)]="user.company">
          <option *ngFor="let c of companies" [ngValue]="c">{{c.name}}</option>
        </select>
      </div>
      <div class="col-4 input-field">
        <label for="age">{{'AREA' | translate}}: </label>
        <input id="name" class="input" type="text" [(ngModel)]="user.area"/>
      </div>
      <div class="col-4 input-field">
        <label for="age">{{'POSITION' | translate}}: </label>
        <input id="name" class="input" type="text" [(ngModel)]="user.position"/>
      </div>
    </div>
  </modal-content>
  <modal-footer>
      <button type="button" class="btn" (click)="createUser()">{{'CREATE' | translate}}</button>
      <button type="button" class="btn-cancel" (click)="closeModalCreateUser();">{{'CLOSE' | translate}}</button>
  </modal-footer>
</modal>
<div [ngClass]="{'fade-modal': showFade }"></div>
