/*-----------------------------------------------
[Layout]
------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height:100%;
  width:100%;
}


/*-----------------------------------------------
[Typography]
------------------------------------------------*/

body {
  -webkit-font-smoothing: antialiased ;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family;
  @include font-size ($font-size);
  color: $color-medium;
  background-color: $background-color;
}

h1 {
  @include font-size(26);
  line-height: 1.5;
}

h2 {
  @include font-size(24);
  line-height: 1.5;
}

h3 {
  @include font-size(22);
  line-height: 1.5;
}

h4 {
  @include font-size(20);
  line-height: 1.5;
}

.link {
  color: $grey-darken2;
  cursor: pointer;
  // transition: color $duration $timing;

  &:hover,
  &:focus {
    color: tint($grey-darken2, 30%);
  }
}

a {
  cursor: pointer;
}

/*-----------------------------------------------
[spacing]
------------------------------------------------*/

blockquote,
figure,
fieldset {
	margin: 0;
}

address,
blockquote,
table,
figure,
form,
fieldset,
legend,
pre,
dl,
ul,
ol,
hr,
p {
	margin-top: 0;
	// margin-bottom: $spacing-base;
}

nav,
li {
	> ul,
	> ol {
		margin-bottom: 0;
	}
}


/*-----------------------------------------------
[Wrappers]
------------------------------------------------*/
.mainWrapper {
  max-width: 85%;
  width: 90%;
  padding: 0 20px;
  height: 100%;
  margin-left: 170px;
  // max-height: 650px;
  // order-left: 1px dashed orange;
  // border-right: 1px dashed orange;
}

.container {
  @include clearfix;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.margin {
  // position: absolute;
}

.text-ellipsis {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.button-containter {
  padding-right: 20px;
  padding-bottom: 15px;
  float: right;
}
