/*------------------------------------------------------------------
[Layout (display: inline-block) Stylesheet]

	1. Row
  2. Column
-------------------------------------------------------------------*/
// 1. Row
@mixin row() {
  font-size: 0%; // Elimina espacio generado en elementos inline-block
}

// 2. Column
@mixin col($column, $total-columns, $gap: 1em, $align: top, $first: false, $last: false) {
  // $first: true, $last: true > no genera gap
  width: percentage($column/$total-columns);
  font-size: 16px;
  display: inline-block;
  vertical-align: $align;
  box-sizing: border-box;
  padding-left: if($first, 0, $gap);
  padding-right: if($last, 0, $gap);
}


/*------------------------------------------------------------------
[Layout (float) Stylesheet]

	1. Row
  2. Column
-------------------------------------------------------------------*/
// 1. Row
.row {
  *zoom: 1;
  display: block;
  // border: 1px solid pink;
 }

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

// 2. Column
[class*="col-"] {
  float: left;
  padding: 10px;
  // border: 1px dashed pink;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
