<navbar></navbar>

<main class="main">
  <div class="mainWrapper">
    <competence-detail-header [competence]="competence"></competence-detail-header>
    <section class="w-routines">
      <competence-routine *ngFor="let routine of routines"
        [routine]="routine" [isCoach]="isCoach" [competence]="competence"></competence-routine>
    </section>
    <!-- <view-goal *ngIf="isPlanCreated" [goal]="goal"></view-goal> -->
    <section class="chart">
      <div class="chart-content">
        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </section>
    <!-- /.chart -->
  </div>
  <!-- /.mainWrapper -->
</main>
<!-- /.main -->
