<navbar></navbar>

<main class="main">
  <div class="mainWrapper">
    <div class="btn-create-user">
      <button type="button" class="btn btn-lg" (click)="createUser()">{{'CREATE_USER' | translate}}</button>
    </div>
    <section class="w-users">
      <div class="w-group" *ngFor="let user of users">
        <user-list [user]="user" [companies]="companies" (userToDelete)="deleteUser($event)"></user-list>
      </div>
    </section>
  </div>
</main>

<modal-create-user *ngIf="isOpen"
  [(open)]="isOpen"
  (isOpenModal)="closeModalCreateUser($event)"
  (newUser)="createNewUser($event)">
</modal-create-user>
