<li class="list-competences" *ngFor="let user of users">
  <div class="team-description">
    <h4 class=" title title-md link text-ellipsis" (click)="userSelected(user)" [ngStyle]="{'cursor': cursorStyle}">{{user.personData.name}}</h4>
    <h4 class="text-ellipsis subtitle">{{user.area}}</h4>
  </div>
</li>
