<div class="action-content">
  <div class="row">
    <div class="col-4">
      <h1 class="title title-sm">Soy la descripción de la ficha</h1>
    </div>
    <div class="col-4">
      <h4 class="right title subtitle">{{'START_DATE' | translate}}: 28/05/1988</h4>
    </div>
    <div class="col-4">
      <h4 class="right title subtitle">{{'FINISH_DATE' | translate}}: 28/05/1988</h4>
    </div>
  </div>
  <ul class="action-plan-list">
    <li class="plan-action">
      <h1 class="title title-sm">Soy un plan de acción</h1>
    </li>
    <li class="plan-action">
      <h1 class="title title-sm">Soy un plan de acción</h1>
    </li>
    <li class="plan-action">
      <h1 class="title title-sm">Soy un plan de acción</h1>
    </li>
    <li class="plan-action">
      <h1 class="title title-sm">Soy un plan de acción</h1>
    </li>
  </ul>
  <div class="plan-actions-footer">
    <button type="button" class="btn-chk-ok" [ngClass]="{'active': checkOk}" (click)="checkOk = !checkOk; checkKo = false"><span class="icon icon-checkmark"></span></button>
    <button type="button" class="btn-chk-ko" [ngClass]="{'active': checkKo}" (click)="checkKo = !checkKo; checkOk = false"><span class="icon icon-cross"></span></button>
    <button type="button" class="btn save-file" (click)="showFileContent = false">{{'SAVE' | translate}}</button>
  </div>
</div>
