<div class="w-detail-competences">
  <div class="title-group">
    <h1 *ngIf="isCoach">{{'USER' | translate}}</h1>
    <h1 *ngIf="!isCoach">{{'MY_DATA' | translate}}</h1>
  </div>
  <div class="w-detail-competences-content">
    <div class="row">
      <div class="col-4 input-field">
        <label for="name">Name</label>
        <h4>{{user.personData.name}}</h4>
      </div>
      <div class="col-4 input-field">
        <label for="surname">Surname</label>
        <h4>{{user.personData.surname}}</h4>
      </div>
      <div class="col-4 input-field">
        <label for="email">Email</label>
        <h4>{{user.email}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-4 input-field">
        <label for="company">Company</label>
        <h4>{{user.company.name}}</h4>
      </div>
      <div class="col-4 input-field">
        <label for="department">Area</label>
        <h4>{{user.area}}</h4>
      </div>
      <div class="col-4 input-field">
        <label for="position">Position</label>
        <h4>{{user.position}}</h4>
      </div>
    </div>
  </div>
</div>
