<header class="navbar">
  <div class="mainWrapper">
    <div class="container">
      <!-- <h1 class="header-title">{{component}}</h1> -->
      <div class="side-bar">
        <div class="header-name">
          <span class="img icon icon-user"></span>
          <p>{{userLogged.personData.name}} {{userLogged.personData.surname}}</p>
          <span class="area-title">{{userLogged.area}}</span>

        </div>
        <div class="header-logout">
          <a (click)="onLogout()"><span>Logout</span><span class="icon icon-switch"></span></a>
        </div>
        <div class="select-language">
          <a class="language" [ngClass]="{'selected': language === 'en'}" (click)="switchLanguage('en')"><span>EN</span></a>
          <a class="language" [ngClass]="{'selected': language === 'es'}"(click)="switchLanguage('es')"><span>ES</span></a>
        </div>
        <nav role="navigation">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">{{'HOME' | translate}}<span class="icon icon-home"></span></a>
          <a class="nav-link" routerLink="/competence" routerLinkActive="active">{{'COMPETENCES' | translate}} <span class="icon icon-paragraph-left"></span></a>
          <a class="nav-link" routerLink="/users" routerLinkActive="active">{{'USERS' | translate}}<span class="icon icon-users"></span></a>
          <!-- <a class="nav-link" routerLink="/test" routerLinkActive="active">Test</a> -->
        </nav>
      </div>
    </div><!--/.container -->
  </div><!--/.mainWrapper -->
</header>
