#admin{

}
.home {

}
.group-a {
  position: relative;
  width: 100%;
  height: 55%;
  margin-bottom: 20px;
  min-width: 900px;
}
.group-b {
  position: relative;
  width: 100%;
  height: 45%;
  margin-bottom: 20px;
  min-width: 900px;
}
.w-team {
  position: absolute;
  // padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid transparent;
  margin-bottom: 0;
  z-index: auto;
  width: 25%;
  float: left;
  // max-height: 320px;
  height: 100%;
  margin-right: 30px;
}
@media only screen and (max-width:1219px){
  .w-team {
    width: 233px;
  }
}
.w-team-content {
	max-height: 80%;
  height: 78%;
	opacity: 1;
  overflow: auto;
}
.list-names {
  padding-right: 1px;
  padding-top: 5px;
  display: -webkit-inline-box;
  width: 95%;
  padding-left: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid $background-color;
  &:hover {
    background-color: #e6f2ff;
  }
}

.team-description {
  width: calc(100% - 20px);
  margin-left: 10px;
  padding: 5px;
}


.w-team-content::-webkit-scrollbar {
    width: 0.3em;
}

.w-team-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.w-team-content::-webkit-scrollbar-thumb {
  background-color: $purple;
  outline: 1px solid $purple;
}

.title-group {
  margin-left: 20px;
  margin-top: 20px;
  border-bottom: 2px solid $background-color;
  width: 91%;
  margin-bottom: 5px;
}

.w-competences {
  position: absolute;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid transparent;
  margin-bottom: 0;
  z-index: auto;
  width: 72%;
  // max-height: 320px;
  height: 100%;
  right: 0;
  .competence-empty {
    position: relative;
    top: 36%;
    text-align: center;
  }

}
.w-competences-content {
  position: relative;
	max-height: 80%;
	opacity: 1;
  height: 78%;
  overflow: auto;
}
.w-state {
  padding-top: 6px;
  width: 100px;
}
.group-competences {

}

.list-competences {
   padding-right: 1px;
   display: -webkit-inline-box;
   width: 95%;
   padding-left: 20px;
   padding-bottom: 5px;
   border-bottom: 1px solid $background-color;
   &:hover {
     background-color: #e6f2ff;
   }
}
.competence-state {
  // width: 100px;
  height: 20px;
  background: $state-progress;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding-left: 26px;
  padding-top: 1px;
  margin-bottom: 7px;
  padding-right: 15px;
}

.competence-description {
  width: calc(70% - 110px);
  margin-left: 10px;
  padding: 5px;
}

.w-competences-content::-webkit-scrollbar {
    width: 0.3em;
}

.w-competences-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.w-competences-content::-webkit-scrollbar-thumb {
  background-color: $purple;
  outline: 1px solid $purple;
}

.w-detail-competences {
  position: absolute;
  // padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid transparent;
  margin-bottom: 0;
  z-index: auto;
  width: 100%;
  //max-height: 315px;
  height: 100%;
  overflow: auto;
  right: 0;

}

.w-detail-coach {
  position: absolute;
  // padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid transparent;
  margin-bottom: 0;
  z-index: auto;
  width: 100%;
  max-height: 265px;
  height: 265px;
  overflow: auto;
  right: 0;

}

.w-detail-competences-content {
  // position: relative;
	max-height: 100%;
	opacity: 1;
  padding: 10px;
}

.close-group {
  position: absolute;
  top: 20px;
  right: 20px;
}
.porcentage {
  padding: 20px;
}
.c-progress-container {
  width: 30%;
  padding-top: 20px;
}

.progress {
  display: block;
  background-color:$state-progress;
  // width: 50%;
  height: 100%;
  /* padding: 4px; */
  border-radius: 10px;
}

.progressbar {
  border: 1px solid black;
  height: 15px;
  width: 185px;
  border-radius: 10px;
  padding: 1px;
}

.add-user {
  position: absolute;
  top: 30px;
  right: 15px;
  cursor: pointer;
}

.divider {
  height: 100%;
  position: relative;
  min-height: 600px;
}
