
section {
  // border: 1px solid pink;
}
.header-competence {
  background-color: #fff;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  min-width: 800px;
}

.information {
  padding: 20px;
  background-color: $cyan-light;

  .row {
    border-bottom: 1px solid $grey-base;
  }
}

.chart {
  overflow: hidden;
  background-color: #fff;
  width: 100%;
}
.chart-content {
  display: table;
  margin: 0 auto;
}

.w-routines {
  overflow: hidden;
  // max-height: 400px;
  margin-bottom: 15px;
  background-color: #fff;
  min-width: 800px;
}

.w-group {
  position: relative;
  min-height: 50px;
  padding: 10px;
  border-bottom: 1px solid $background-color;
}

.routines-completed {
  display: -webkit-inline-box;
  position: absolute;
  height: 50px;
  padding: 10px;
  right: 430px;;
  top: 5px;
}
.routines-assigned {
  display: -webkit-inline-box;
  position: absolute;
  height: 50px;
  padding: 10px;
  right: 185px;
  top: 5px;
}
.group-content {
  position: relative;
  // border: 1px solid red;
}

.list-files {
  position: relative;
  height: 40px;
  padding: 8px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  background: $background-color;
}

.state {
  position: absolute;
  left: 0%;
  top: -50%;
}

.progress-competence {
  margin-top: 10px;
}

.title-competence-group {
  margin-left: 20px;
  margin-top: 20px;
  border-bottom: 2px solid $background-color;
  width: 91%;
  margin-bottom: 5px;
  position: relative;
}

.data-file-container {
  width: 62%;
  height: 100%;
  position: relative;
  display: inline;
  float: left;
  margin: -5px;
}

.title-file {
  width: 30%;
  float: left;
}
