.w-detail-files {
  position: absolute;
  // padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid transparent;
  margin-bottom: 0;
  z-index: auto;
  width: 100%;
  max-height: 290px;
  height: 290px;
  overflow: auto;
  right: 0;

}

.w-plan-action {
  position: absolute;
  // padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid transparent;
  margin-bottom: 0;
  z-index: auto;
  width: 100%;
  max-height: 352px;
  height: 352px;
  overflow: auto;
  right: 0;

}

.list-actions {
  padding-top: 10px;
  position: relative;
  // padding-left: 20px;
}

.action {
  position: relative;
  margin-bottom: 10px;
  width: 93%;
  margin-left: 5px;
  padding-bottom: 10px;
  padding-top: 9px;
  padding-left: 20px;
  background-color: $background-color;
  // &:hover {
  //   background-color: #e6f2ff;
  // }
}
.action-content {
  position: relative;
  margin-top: 9px;
  background-color: $white;
}

.header-action {
  position: relative;
}

.plan-actions-footer {
  border-bottom: 1px solid $color-medium;
  margin-top: 5px;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  .save-file {
    position: absolute;
    top: 0;
    right: 85px;
  }
}

.action-plan-list {
  padding-left: 15px;
  margin-bottom: 10px;
  padding-right: 15px;
}

.tool-bar {
  position: absolute;
  position: absolute;
  right: 2%;
  top: 30%;
}
