.login{
  display: table;
  width: 100%;
  height: 100%;

  .block {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 0 20px
  }

  .block:first-child {
    background-color: $purple;
    color: $color-white;
  }

  .block:last-child {
    background-color: $white;
  }

  .block:first-child .wrapper {
    margin: 0 10% 0 auto;
    max-width: 500px;
  }

  .block:last-child .wrapper {
    margin: 0 auto 0 10%;
    max-width: 350px;
  }

  h1 {
    font-weight: $regular;
    margin-bottom: 40px;
  }

  h2 {
    font-weight: $thin;
  }

  h3 {
    font-weight: $medium;
    margin-bottom: 20px;
  }


  form {

    .btn {
      width: 100%;
      margin-top: 20px;
    }

  }

}
