
.modal{
  position: fixed;
  top: 47%;
  left: 60%;
  height: 0px;
  width: 0px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: $white;
  border: 1px solid grey;
  box-shadow: 0 0 3px rgba(black, 0.2);
  border-radius: 4px;
  padding: 30px 20px 0;
  font-family: 'Roboto', sans-serif;
}

.modal-content {
  position: fixed;
  top: 37%;
  left: -180%;
  height: 400px;
  width: 862px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: $white;
  border: 1px solid grey;
  box-shadow: 0 0 3px rgba(black, 0.2);
  border-radius: 4px;
  padding: 30px 20px 0;
  font-family: 'Roboto', sans-serif;
  .modal-competence {
    width: 500px;
  }
}
.modal-footer {
  margin-bottom: 30px;
  bottom: 0;
  position: absolute;
  right: 0;
  margin-right: 30px;
}

.modal-header {
  // background-color: $green-light2;
  text-align: center;
  // padding-top: 15px;
  // padding-bottom: 15px;
  button {
      display: none;
  }
}

.fade-modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: grey;
  opacity: 0.5;
}

.modal-title {
  display: block;
  border-bottom: 1px solid $background-color;
  margin-bottom: 20px;
}
