.test {

  h1 {
    @include font-size(26);
    line-height: 1.5;
  }

  h2 {
    @include font-size(24);
    line-height: 1.5;
  }

  h3 {
    @include font-size(22);
    line-height: 1.5;
  }

  h4 {
    @include font-size(20);
    line-height: 1.5;
  }




}


.sep {
  margin: 20px 0 40px;
  padding-bottom: 10px;
  border-bottom: 2px solid $grey-darken;
  color: $grey-darken;
}
