.w-users {
  overflow: hidden;
  width: 100%;
  margin-bottom: 15px;
  background-color: #fff;
  min-width: 800px;
}

.area-user {
  display: -webkit-inline-box;
  position: absolute;
  height: 50px;
  padding: 10px;
  right: 185px;
  top: 5px;
}

.email-user {
  display: -webkit-inline-box;
  position: absolute;
  height: 50px;
  padding: 10px;
  right: 430px;;
  top: 5px;
}

.btn-container-user {
  display: -webkit-inline-box;
  position: absolute;
  height: 50px;
  padding: 10px;
  right: 5px;;
  top: 5px;
}

.btn-create-user {
  margin-bottom: 20px;
  position: relative;
  float: right;
}

.usert-detail {
  position: relative;
  height: 250px;
  padding: 8px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  background: #f2f2f2;
}

.balloon-delete {
    // z-index: 999986;
    display: block;
    height: 57px;
    /* width: 258px; */
    position: absolute;
    top: -2px;
    left: -310px;
    padding: 10px;
    white-space: nowrap;
    background-color: #FCE5E5;
    border: 1px solid #E60000;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-weight: 400;
    color: #EC0000;
    word-wrap: break-word;
    font-size: 12px;
    font-size: 0.75rem;
  }

  .balloon-buttons {
    margin-top: 11px;
  }

  .header-user {
    width: 45%;
    word-break: break-word;
    cursor: pointer;
  }
