// ==========================================================================
//  Components Stylesheet
// ==========================================================================
//
// Table of Contents:
//
//	1. Box (Default)
//	2. Thumbnail
// 1. Box (Default)
// ==========================================================================

.w-default {
	padding: 20px;
	border-radius: 4px;
	// background-color: $white;
	&.light {
		// background-color: $gray-light;
	}

	&.dark {
		// background-color: $gray-light2;
	}
}

.w-offset {
	margin: 0 -10px;
}

.title {
	// @include ellipsis;
	display: block;
}

.subtitle {
	@include font-size(14);
	font-weight: $normal;
	line-height: 1.3;
	transition: font-size $duration linear;
	margin-bottom: 5px;
	@media only screen and (max-width:1180px) {
		 @include font-size(10);
	}
}

.label-title {
	@include font-size(14);
	font-weight: $normal;
	line-height: 1.3;
	transition: font-size $duration linear;
	margin-bottom: 5px;
	color: $grey-darken2;
	@media only screen and (max-width:1180px) {
		 @include font-size(10);
	}
}

.title-xl {
	@include font-size(24);
	font-weight: $normal;
	line-height: 1.3;
	transition: font-size $duration linear;
	margin-bottom: 5px;
	word-break: break-all;
	@media only screen and (max-width:1180px) {
		 @include font-size(22);
	}
}

.title-lg {
	@include font-size(20);
	font-weight: $normal;
	line-height: 1.3;
	transition: font-size $duration linear;
	margin-bottom: 5px;
	word-break: break-all;
	@media only screen and (max-width:1180px) {
		 @include font-size(18);
	}
}

.title-md {
	@include font-size(18);
	font-weight: $semibold;
	line-height: 1.3;
	transition: font-size $duration linear;
	margin-bottom: 5px;
	word-break: break-all;
	@media only screen and (max-width:1180px) {
		 @include font-size(16);
	}
}
.title-sm {
	@include font-size(14);
	font-weight: $semibold;
	line-height: 1.3;
	transition: font-size $duration linear;
	margin-bottom: 5px;
	word-break: break-all;
	@media only screen and (max-width:1180px) {
		 @include font-size(10);
	}
 }
// Content Area
.w-content-area {
	position: relative;

	.w-content {
		max-height: 100%;
		opacity: 1;
		word-break: break-all;
		transition: all $duration linear;
	}
}

.w-content-area.panel-collapse {
	.title {
		margin-bottom: 0 !important;
	}

	.w-content {
		overflow: hidden;
		max-height: 0;
		opacity: 0;
		margin-top: 0 !important;
	}
}
// 2. Thumbnail
// ==========================================================================

.thumbnail {
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #dde4ea;
	background-color: $white;

	.thumbnail-title {
		display: block;
		@include font-size(18);
		font-weight: $semibold;
		margin-bottom: 5px;
		// @include ellipsis;
		@media(max-width:1150px) {
			 @include font-size(16);
		}
	}
}
