// Reset button
// 1. Reset `button` and button-style `input` default styles
button {
    // background: none;
    border-style: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
		outline: none;
    -webkit-appearance: button; // for input
    -webkit-user-select: none;  //for button
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
    // background: none;
    cursor: pointer;
    overflow: visible;
		outline: none;
    -webkit-appearance: button; // for input
    -webkit-user-select: none;  //for button
    -moz-user-select: none;
    -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// Make `a` like a button
[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.btn {
  display: inline-block;
  padding: 0 $button-padding;
  height: $button-height;
  margin-left: 20px;
  background-color: $button-background;
  @include font-size($font-size);
  color: $color-white;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  transition: all $duration $timing;
  border-radius: 2px;

  &:hover {
    background-color: $button-background-hover;
  }

  &:disabled {
    background-color: $button-disabled-background;
    color: $button-disabled-color;
  }
}

.btn-cancel {
  display: inline-block;
  padding: 0 $button-padding;
  height: $button-height;
  margin-left: 20px;
  background-color: $color-white;
  @include font-size($font-size);
  color: $purple;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  transition: all $duration $timing;
  border-radius: 2px;

  &:hover {
    background-color: $purple;
    color: $color-white;
  }

  &:disabled {
    background-color: $button-disabled-background;
    color: $button-disabled-color;
  }
}

.btn-md {
  width: 100px;
}

.btn-lg {
  width: 150px;
}

.btn-chk-ok,
.btn-chk-ko {
  background-color: transparent;
  border: 2px solid $color-medium;
  border-radius: 50%;
  width: 55px;
  height: 30px;
  margin-right: 20px;
  .icon-checkmark{
    font-size: 25px;
    color: $color-medium;
  }
  .icon-cross {
    color: 25px;
    color: $color-medium;
  }
}

.btn-chk-ok.active,
.btn-chk-ok:hover  {
  background-color: #03b13d;
  border: 1px solid transparent;

  span {
    color: $white !important;
  }
}

.btn-chk-ko.active,
.btn-chk-ko:hover {
  background-color: red;
  border: 1px solid transparent;

  span {
    color: $white !important;
  }
}

.btn-add-file {
  right: 20px;
  position: absolute;
  top: 15px;
  font-size: 15px;
  height: 25px;
}

.btn-add-competence {
  right: 35px;
  position: absolute;
  top: 30px;
  font-size: 15px;
  height: 25px;
}

.btn-ballon-cancel {
  border: 1px solid;
  width: 70px;
  height: 20px;
  border-radius: 5px;
  float: right;
  &:hover {
    background-color: $white;
    color: #EC0000;
  }
}

.btn-ballon-delete {
  border: 1px solid;
  width: 70px;
  height: 20px;
  border-radius: 5px;
  // float: right;
  &:hover {
    background-color: #EC0000;
    color: $white;
  }
}
