.icon {
  margin-left: 10px;
  margin-right: 10px;
}

.icon-checkmark {
  color: $state-progress;
}

.icon-drawer {
  color: $state-finish;
}

.icon-user-plus {
  font-size: 20px;
}

.icon-cross {
  color: $color-medium;
}

.icon-home {
  color: $state-progress;
}

.icon-paragraph-left {
  color: $state-finish;
}

.icon-switch{
  color: $error-color;
}

.icon-user {
  font-size: 20px;
}

.icon-users {
  color: $state-finish;
}
.icon-bin {
  color: $color-medium;
  font-size: 15px;
  cursor: pointer;
  &:hover{
    font-size: 20px;
    color: $error-color;
  }
}

.icon-plus {
  font-size: 15px;
  color: $state-progress;
  &:hover {
    font-size: 20px;
  }
}
