input,
label,
select,
button,
textarea
{
  display: inline-block;
	margin: 0;
	border: 0;
	padding: 0;
	vertical-align: middle;
	white-space: normal;
	background: none;
  line-height :1;
  font-family: 'Roboto', sans-serif;

	/* Browsers have different default form fonts */
	// font-size:13px;
	// font-family:Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline: 0;
}

select {
  margin-top: 10px;
  border-bottom: 1px solid;
  width: 100%;
  @include font-size($font-size);
  border-bottom: $input-border;
  height: $input-height;
  padding: 0 $input-padding;
  color: $grey-base;
  transition: all $duration $timing;
  &:focus {
    border-color: $input-focus-color;
  }
}

select:focus
{
	outline: 0;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  font-family: 'Roboto', sans-serif;
  @include font-size($font-size);
  border-bottom: $input-border;
  height: $input-height;
  padding: 0 $input-padding;
  color: $grey-base;
  transition: all $duration $timing;

  &.valid {
    border-color: $input-success-color;
    color: $success-color;
  }

  &.invalid {
    border-color: $input-error-color;
    color: $error-color;
  }

  &:focus {
    border-color: $input-focus-color;
    color: $grey-darken2;
  }

  &:disabled,
  &[readonly="readonly"] {
    border-color: $input-disabled-color;
    color: $grey-light;
  }
}

textarea {
  @include font-size($font-size);
  font-family: 'Roboto', sans-serif;
  border: $input-border;
  height: auto;
  padding: 0 $input-padding;
  color: $grey-base;
  transition: all $duration $timing;
  padding: 5px;

  &:focus {
    border-color: $input-focus-color;
    color: $grey-darken2;
  }

  &:disabled,
  &[readonly="readonly"] {
    border-color: $input-disabled-color;
    color: $grey-light;
  }
}

/* Remove the stupid outer glow in Webkit */
textarea:focus
{
	outline: 0;
}


/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display: none;
}

/* Textarea
-----------------------------------------------*/

textarea
{
	/* Move the label to the top */
	vertical-align: top;
  font-family: 'Roboto', sans-serif;
	/* Turn off scroll bars in IE unless needed */
	overflow: auto;
}


// NEW DEVELOPMENT
label {
  @include font-size($font-size);
}


.input-field {
  position: relative;
  margin-bottom: 20px;

  label {
    display: block;
  }

  label + input,
  label + textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}

.datepicker-container {
  margin-top: 18px;
}


.datepicker-container {
  // border-bottom: $input-border;
}

.datepicker-input{
  font-family: 'Roboto', sans-serif !important;
  @include font-size($font-size);
  border-bottom: $input-border !important;
  padding: 0 $input-padding !important;
  color: $grey-base !important;
  transition: all $duration $timing !important;
}