
.menu,
.dropdown-menu {
  @include clean-element;
}

.menu-item,
.dropdown-menu-item {
  list-style: none;

  a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
  }
}

.menu-item {
  display: inline-block;
  vertical-align: top;
  // border: 1px dashed pink;
  &:hover {
    background-color: #3a4250;
  }
}

.navbar {
  background: #3a4250;
  z-index: 9999;
  position: fixed;
  top:0;
  width: 100%;
  color: #fff;
}

.header-name {
  margin: 20px 0 0;
  height: 50px;
  position: relative;
  padding: 0 0 0 65px;
  .img {
    padding: 6px;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 10px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }
}

.header-logout {
  margin-top: 75px;
  margin-bottom: 35px;
  height: 30px;
  display: block;
  /* padding-left: 0px; */
  /* padding-right: 80px; */
  padding-left: 25px;
}

.nav-link {
    position: relative;
    color: #fff;
    text-decoration: none;
    letter-spacing: .5px;
    display: block;
    padding: 12px 20px;
    font-size: 16px;
    transition: all .2s ease;
    background: #3a4250;
    .active {
        background: #313844;
    }
}

.select-language {
  margin-left: 5px;
  margin-bottom: 45px;
}

.language {
  color: grey;
  margin-left: 20px;

  &.selected {
    border-bottom: 1px solid #fff;
    color: #fff;
  }
}

.nav-link:hover {
  color: #fff;
  background: #363d4a;
}

.active {
    background: #313844;
}

.side-bar {
  padding: 30px 0;
  color: #fff;
  background: #3a4250;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 215px;
}

.area-title {
  font-size: small;
  opacity: 0.5;
}
// Dropdown menu
.dropdown {
  position: relative;
}

.dropdown-toggle {

}

.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 9999;
  min-width: 160px;
  white-space: nowrap;
  background-color: $grey-light;
}

.header-title {
  text-align: center;
}
