  <li class="list-competences">
    <div class="w-state">
      <div class="competence-state">
        <span class="label-title">CREATED</span>
      </div>
      <h4 class="right title subtitle" title="{{competence.name}}">{{competence.startDate | date: "dd/MM/yyyy"}}
      </h4>
    </div>
    <div class="competence-description">
      <h4 class=" title title-md link text-ellipsis" (click)="goToCompetence()">{{competence.name}}</h4>
      <h4 class="text-ellipsis subtitle" title="{{competence.description}}"><span>{{competence.description}}</span></h4>
    </div>
    <div class="c-progress-container">
      <span class="porcentage">100% {{'COMPLETED' | translate}}</span>
      <div class="progressbar">
        <span class="progress"></span>
      </div>
    </div>
  </li>
