<div class="login">

  <div class="block">
    <div class="wrapper">
      <h1>GymBrain</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, quis vitae. Nihil quod cum sed earum, quam alias ratione vel, illo culpa error suscipit, officia corporis. Itaque ut ipsam ab. </h2>
    </div><!--/.wrapper -->
  </div><!--/.block -->

  <div class="block">
    <div class="wrapper">
      <h3>Login to your account</h3>
      <form role="form" (submit)="onLogin($event, email.value, password.value)">
        <div class="input-field">
          <label for="email">Email</label>
          <input type="text" id="email" #email placeholder="Enter email" required>
        </div>

        <div class="input-field">
          <label for="password">Password</label>
          <input type="password" id="password" #password placeholder="Enter password" required>
        </div>

        <button class="btn" type="submit">Login</button>

      </form>
    </div><!--/.wrapper -->
  </div><!--/.block -->


</div><!-- /.login -->
