<div class="group-content">
  <div class="list-files">
    <div class="title-file">
      <h4 class="title title-md link text-ellipsis" (click)="goToFile()">{{file.name}}</h4>
    </div>
    <div class="data-file-container row">
      <div class="col-4">
        <span class="icon icon-pencil" title="Progress"></span>
      </div>
      <div class="col-4">
        <h4 class="right title subtitle">{{'START_DATE' | translate}}: {{file.startDate}}</h4>
      </div>
      <div class="col-4">
        <h4 class="right title subtitle">{{'FINISH_DATE' | translate}}: {{file.finishDate}}</h4>
      </div>
    </div>
  </div>
</div>
