<modal div="modal" #modalFile class="modal-competence">
  <modal-header class="modal-title">
      <h1>{{'CREATE_COMPETENCE' | translate}}</h1>
  </modal-header>
  <modal-content>
    <div class="row">
      <div class="col-6 input-field">
        <label for="name">{{'NAME_COMPETENCE' | translate}}: </label>
        <input id="name" class="input" type="text" [(ngModel)]="newCompetence.name"/>
      </div>
      <div class="col-3 input-field">
        <label for="age">{{'START_DATE' | translate}}: </label>
        <ng2-datepicker [options]="calendarOptions" [(ngModel)]="startDate"></ng2-datepicker>
      </div>
      <div class="col-3 input-field">
        <label for="age">{{'FINISH_DATE' | translate}}: </label>
        <ng2-datepicker [options]="calendarOptions" [(ngModel)]="finishDate"></ng2-datepicker>
      </div>
    </div>
    <div class="row">
      <div class="col-12 input-field">
        <label for="name">{{'DESCRIPTION' | translate}}: </label>
        <textarea class="input" type="text" rows="5" cols="30" [(ngModel)]="newCompetence.description"></textarea>
      </div>
    </div>
  </modal-content>
  <modal-footer>
      <button type="button" class="btn" (click)="createCompetence()">{{'CREATE' | translate}}</button>
      <button type="button" class="btn-cancel" (click)="closeModalCreateCompetence();">{{'CANCEL' | translate}}</button>
  </modal-footer>
</modal>
<div [ngClass]="{'fade-modal': showFade }"></div>
