<div class="header-competence">
  <div class="title-competence-group">
    <div class="state">
      <span class="competence-state label-title">CREATED</span>
      <div class="progress-competence">
        <div class="progressbar">
          <span class="progress" style="width:75%"></span>
        </div>
      </div>
    </div>
    <h4 class="title title-xl center">{{competence.name}}</h4>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="title title-md">{{'START_DATE' | translate}}: {{competence.startDate}}</h4>
    </div>
    <div class="col-6">
      <h4 class="title title-md">{{'FINISH_DATE' | translate}}: {{competence.finishDate}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4 class="title title-xl">{{competence.description}}</h4>
    </div>
  </div>
</div>
