<navbar></navbar>
<main class="main">
  <div class="mainWrapper">
    <div class="divider">
      <div class="group-b">
        <file-header [file]="file"></file-header>
      </div>
      <div class="group-a">
        <div class="w-plan-action">
          <div class="title-group">
            <h1>{{'ACTION_PLAN' | translate}}</h1>
            <button class="btn btn-add-file" (click)="createActionPlan()" *ngIf="!isCoach"><span>{{'CREATE_ACTION_PLAN' | translate}}</span></button>
          </div>
          <div class="list-actions">
            <ul>
              <file-action></file-action>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.mainWrapper -->
</main>
<!-- /.main -->

<modal-create-file *ngIf="isOpen">
</modal-create-file>
