// ==========================================================================
// GymBrain variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Fonts
//  3. Buttons
//  4. Forms
//  5. Transitions
//  6. Size
//  7. States Color



// 1. Colors
// ==========================================================================
// $primary-color: color("materialize-red", "lighten-2") !default;
// $primary-color-light: lighten($primary-color, 15%) !default;
// $primary-color-dark: darken($primary-color, 15%) !default;
//
// $secondary-color: color("teal", "lighten-1") !default;





$cyan-light: #2bbbad;
$main-base: #3a4250;

$purple: #8022b0;

$white: #ffffff;

$background-color: #f2f2f2;

$grey-light: #e0e0e0;
$grey-base: #9e9e9e;
$grey-darken: #424242;
$grey-darken2: #212121;


$success-color: #4caf50 !default;
$error-color: #f44336 !default;
$link-color: #039be5 !default;


// 2. Fonts
// ==========================================================================
$font-path: "./assets/fonts/roboto/" !default;
$font-family: "Roboto", sans-serif;
$font-size: 16;

// $color-light: ;
$color-medium: #9e9e9e;
$color-white: #ffffff;
// $color-dark: ;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
// $semibold: 600;
$bold: 700;


// 3. Buttons
// ==========================================================================
$button-background: #33cc33 !default;
$button-background-hover: #29a329 !default;
$button-height: 2.75rem !default;
$button-padding: 20px !default;
$button-radius: 2px !default;

// Disabled styles
$button-disabled-background: $grey-light !default;
$button-disabled-color: $grey-base !default;


// 4. Forms
// ==========================================================================
// Text Inputs + Textarea
$input-height: 1.75rem !default;
$input-border-color: $grey-base !default;
$input-border: 2px solid $input-border-color !default;
$input-background: #fff !default;
$input-error-color: $error-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $purple !default;


// $input-font-size: 1rem !default;
// $input-margin-bottom: 20px;
// $input-margin: 0 0 $input-margin-bottom 0 !default;
$input-padding: 15px 15px 15px 0 !default;
// $label-font-size: .8rem !default;
$input-disabled-color: $grey-light !default;
$input-disabled-border: 2px solid $input-disabled-color !default;
// $placeholder-text-color: lighten($input-border-color, 20%) !default;


// 5. Transitions
// ==========================================================================
$duration: 200ms;
$delay: 200ms;
$timing: ease-out;


// 6. Breakpoints
// ==========================================================================
$screen-xs-max: 767px;  //Mobile

$screen-sm-min: 768px;	//Tablet
$screen-sm-max: 991px;

$screen-md-min: 992px;  //Desktops
$screen-md-max: 1199px;

$screen-lg-min: 1200px; //Laptops
$screen-lg-max: 1500px;


// 6. Size
// ==========================================================================
$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

// Line Height
//
// Line height
//
// ```
// $line-height-content: 1.5;
// $line-height-title: 1.2;
// ```
//
// Styleguide 1.5

// LINE HEIGHT
$line-height-content: 1.5;
$line-height-title: 1.2;


// 7. States Colors

$state-created: #b3b3b3;
$state-progress: #00cc44;
$state-revision: #ffff00;
$state-finish: #428bca;
