
  <!-- View Mode -->
  <div class="usert-detail" *ngIf="showUser">
    <div class="row">
      <div class="col-4 input-field">
        <label for="name">{{'NAME' | translate}}</label>
        <h4>{{user.personData.name}}</h4>
      </div>
      <div class="col-4 input-field">
        <label for="surname">{{'SURNAME' | translate}}</label>
        <h4>{{user.personData.surname}}</h4>
      </div>
      <div class="col-4 input-field">
        <label for="email">{{'EMAIL' | translate}}</label>
        <h4>{{user.email}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-4 input-field">
        <label for="company">{{'COMPANY' | translate}}</label>
        <h4>{{user.company.name}}</h4>
      </div>
      <div class="col-4 input-field">
        <label for="department">{{'AREA' | translate}}</label>
        <h4>{{user.area}}</h4>
      </div>
      <div class="col-4 input-field">
        <label for="position">{{'POSITION' | translate}}</label>
        <h4>{{user.position}}</h4>
      </div>
    </div>
    <div class="button-containter">
      <button type="button" class="btn btn-md" (click)="editUser = true; showUser = false">{{'EDIT' | translate}}</button>
    </div>
  </div>

  <!-- Edition mode -->
  <div class="usert-detail" *ngIf="editUser">
    <div class="row">
      <div class="col-4 input-field">
        <label for="name">{{'NAME' | translate}}</label>
        <input id="name" class="input" type="text" [(ngModel)]="userToChange.personData.name"/>
      </div>
      <div class="col-4 input-field">
        <label for="surname">{{'SURNAME' | translate}}</label>
        <input id="surname" class="input" type="text" [(ngModel)]="userToChange.personData.surname"/>
      </div>
      <div class="col-4 input-field">
        <label for="email">{{'EMAIL' | translate}}</label>
        <input id="email" class="input" type="text" [(ngModel)]="userToChange.email"/>
      </div>
    </div>
    <div class="row">
      <div class="col-4 input-field">
        <label for="company">{{'COMPANY' | translate}}</label>
        <select [compareWith]="preSelectedOption" [(ngModel)]="userToChange.company">
          <option *ngFor="let c of companies" [ngValue]="c">{{c.name}}</option>
        </select>
      </div>
      <div class="col-4 input-field">
        <label for="department">{{'AREA' | translate}}</label>
        <input id="department" class="input" type="text" [(ngModel)]="userToChange.area"/>
      </div>
      <div class="col-4 input-field">
        <label for="position">{{'POSITION' | translate}}</label>
        <input id="position" class="input" type="text" [(ngModel)]="userToChange.position"/>
      </div>
    </div>
    <div class="button-containter">
      <button type="button" class="btn btn-md" (click)="updateUser(); editUser = false; showUser = true">{{'SAVE' | translate}}</button>
      <button type="button" class="btn btn-md" (click)="editUser = false; showUser = true">{{'CANCEL' | translate}}</button>
    </div>
  </div>
