<main class="main test">

  <div class="mainWrapper">

    <h1 class="sep">Typography</h1>
    <h1>Heading H1...</h1>
    <h2>Heading H2...</h2>
    <h3>Heading H3...</h3>
    <h4>Heading H4...</h4>




    <h1 class="sep"><span>Input text</span></h1>

    <div class="input-field">
      <label for="">Input text</label>
      <input type="text" name="" value="" placeholder="Lorem ipsum...">
    </div>

    <div class="input-field">
      <label for="">Input text success</label>
      <input type="text" class="valid" name="" value="Text success" placeholder="Lorem ipsum...">
    </div>

    <div class="input-field">
      <label for="">Input text error</label>
      <input type="text" class="invalid" name="" value="Text error" placeholder="Lorem ipsum...">
    </div>

    <div class="input-field">
      <label for="">Input text disabled</label>
      <input type="text" name="" value="Text disabled" placeholder="Lorem ipsum..." disabled>
    </div>

    <div class="input-field">
      <label for="">TEXT AREA</label>
      <textarea type="text" name="" value="Text disabled" placeholder="Lorem ipsum..."> </textarea>
    </div>



    <h1 class="sep">Buttons</h1>
    <h2>Button types</h2>
    <button type="button" class="btn">Button</button>
    <input type="button" class="btn" value="Input Button">
    <input type="submit" class="btn" value="Submit Button">

    <h2>Button disabled</h2>
    <button type="button" class="btn" disabled>Button</button>
    <input type="button" class="btn" value="Input Button" disabled>
    <input type="submit" class="btn" value="Submit Button" disabled>
  </div>


</main>
<!--/.main -->
