<navbar></navbar>

<main class="main">
  <div class="mainWrapper">
    <!--  COACH VIEW -->
    <div class="divider" *ngIf="isCoach">
      <div class="group-a">
        <user-component [(users)]="users" (user)="showUserData($event)" [isCoach]="isCoach"></user-component>
        <competence-list-component [(showCompetence)]="showCompetence" [user]="userSelected" [competences]="competences" [isCoach]="isCoach"></competence-list-component>
      </div>
      <div class="group-b">
        <view-user *ngIf="showUser" [user]="userSelected" [isCoach]="isCoach"></view-user>
      </div>
    </div>

    <!-- USER VIEW -->
    <div class="divider" *ngIf="!isCoach">
      <div class="group-a">
        <user-component [(users)]="users" (user)="showUserData($event)" [isCoach]="isCoach"></user-component>
        <competence-list-component [(showCompetence)]="showCompetence" [user]="userSelected" [competences]="competences" [isCoach]="isCoach"></competence-list-component>
      </div>
      <div class="group-b">
        <view-user *ngIf="showUser" [user]="userSelected" [isCoach]="isCoach"></view-user>
      </div>
    </div>
  </div>
  <!-- /.mainWrapper -->
</main>
<!-- /.main -->
