<div class="w-team">
  <div class="title-group">
    <h1>{{"TEAM" | translate }}</h1>
  </div>

  <div class="w-team-content">
    <ul>
      <user-detail [users]="users" (user)="showUserData($event)" [isCoach]="isCoach"></user-detail>
    </ul>
  </div>
</div>
