<div class="w-detail-files">
  <div class="title-group">
    <h1>{{file.name}}</h1>
  </div>
  <div class="data-file">
    <div class="row">
      <div class="col-6">
        <h4 class="title title-md">{{'START_DATE' | translate}}: {{file.finishDate}}</h4>
      </div>
      <div class="col-6">
        <h4 class="title title-md">{{'FINISH_DATE' | translate}}: {{file.startDate}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="title title-xl">{{file.description}}</h4>
      </div>
    </div>
  </div>
</div>
