<div class="header-user" (click)="showUser = !showUser" title="{{user.personData.name}} {{user.personData.surname}}">
  <h4 class="title-xl link text-ellipsis">{{user.personData.name}} {{user.personData.surname}}</h4>
  <!-- <button class="btn-add-file" (click)="createFile()" *ngIf="!isCoach"><span class="icon-plus"></span></button> -->
</div>
<div class="email-user">
  <h4 class="tittle title-sm">{{user.email}}</h4>
</div>
<div class="area-user">
  <h4 class="tittle title-sm">{{user.area}}</h4>
</div>
<div class="btn-container-user">
  <button (click)="showDeleteBalloon = !showDeleteBalloon"><span class="icon icon-bin"></span></button>
  <div class="balloon-delete" *ngIf="showDeleteBalloon">
    {{'DELETE_USER' | translate}}, {{user.name}}?
    <div class="balloon-buttons">
      <button class="btn-ballon-delete" (click)="deleteUser(); showDeleteBalloon = false">{{"DELETE" | translate}}</button>
      <button class="btn-ballon-cancel" (click)="showDeleteBalloon = false">{{'CANCEL' | translate}}</button>
    </div>
  </div>
</div>
<div class="group-content" *ngIf="showUser || editUser">
  <user-detail-edit [(showUser)]="showUser" [user]="user" [companies]="companies"></user-detail-edit>
</div>
