<div class="w-competences">
  <div class="title-group">
    <h1>{{ 'COMPETENCES' | translate }}</h1>
    <button class="btn btn-add-competence" (click)="createCompetence()" *ngIf="showCompetence && competences.length > 0 && isCoach" title="Create a competence">Create</button>
  </div>
  <div class="competence-empty" *ngIf="!showCompetence">
    <h4 class=" title title-xl link text-ellipsis">{{ 'SELECT_USER' | translate }}</h4>
  </div>
  <div class="competence-empty" *ngIf="showCompetence && competences.length === 0">
    <h4 class=" title title-xl link text-ellipsis">{{ 'NO_COMPETENCES' | translate }}</h4>
    <button type="button" class="btn" *ngIf="isCoach" (click)="createCompetence()">{{'CREATE_COMPETENCE' | translate}}</button>
  </div>
  <div class="w-competences-content" *ngIf="showCompetence && competences.length > 0">
    <ul class="group-competences">
      <!-- competence - detail -->
      <competence-detail *ngFor="let competence of competences"
        [competence]="competence">
      </competence-detail>
    </ul>
  </div>
</div>

<modal-create-competence *ngIf="isOpen"
  (newCompetenceCreated)="addNewCompetenceToList($event)"
  [(open)]="isOpen"
  [user]="user"
  (isOpenModal)="closeModalCreateCompetence($event)">
</modal-create-competence>
