<div class="w-group">
  <div class="header-routine">
    <h4 class="title title-xl link text-ellipsis" (click)="showFiles = !showFiles">{{routine.name[language]}}</h4>
    <!-- <button class="btn-add-file" (click)="createFile()" *ngIf="!isCoach"><span class="icon-plus"></span></button> -->
    <button class="btn btn-add-file" (click)="createFile()" *ngIf="!isCoach"><span>{{'CREATE_FILE' | translate}}</span></button>
  </div>
  <div class="routines-completed">
    <span class="icon icon-checkmark"></span>
    <h4 class="tittle title-sm">{{'THERE_ARE' | translate}} 3 {{'FILES_COMPLETED' | translate}}</h4>
  </div>
  <div class="routines-assigned">
    <span class="icon icon-drawer"></span>
    <h4 class="tittle title-sm">{{'THERE_ARE' | translate}} {{routine.assigned}} {{'FILES_ASSIGNED' | translate}}</h4>
  </div>
  <ng-container *ngIf="showFiles">
    <file-routine  *ngFor="let file of routine.files"
      [file]="file">
    </file-routine>
  </ng-container>
</div>

<modal-create-file *ngIf="isOpen"
  [competence]="competence"
  [routine]="routine"
  [(open)]="isOpen"
  (isOpenModal)="closeModalCreateFile($event)"
  (newFile)="addNewFileToArray($event)">
</modal-create-file>
