<li class="action">
  <div class="header-action">
    <h1 class="link title title-md" (click)="showFileContent = !showFileContent">hola soy un plan</h1>
    <div class="tool-bar">
      <span class="icon icon-pencil"></span>
      <span class="icon icon-eye"></span>
    </div>
  </div>
  <action-plan *ngIf="showFileContent"></action-plan>
</li>
